<div class = "navbar-lewagon"></div>

<div class="container">
<div class="row">
<% @lists.each do |list| %>
  <div class="card col-4 m-4" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> <%= list.name %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary"><%= link_to "detail", list_path(list) %></a>
    </div>
  </div>
<% end %>
</div>
</div>

<%= link_to "Add list", new_list_path %>
